:root {
    --white-color: #fff;
    --gray-color: #7B7D81;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/* regole comuni */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.margin-y2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    color: var(--white-color);
}

.subtitle, 
a {
    color: var(--gray-color);
}

.d-flex {
    display: flex;
}

.btn {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    display: inline-block;
    padding: 10px 50px;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* MAIN */

main {
    width: 100%;
    height: calc(100vh - 90px);
}

/* SIDEBAR */

.sidebar {
    width: 230px;
    height: 100%;
    background-color: #000;
    padding: 0 1rem;
    min-height: 320px;
}

#top-sidebar {
    height: calc(100% - 50px);
}

/* LOGO */

.sidebar .logo-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 70px;
}

#logo {
    height: 30px;
}

#logo-small {
    height: 20px;
    display: none;
}

/* SIDEBAR NAV */

.sidebar .sidebar-nav {
    height: calc(100% - 70px);
}

#nav-top {
    height: 110px;
    border: 1px solid black;
}

.sidebar .sidebar-nav .links li {
    margin-bottom: 0.5rem;
}

.sidebar .sidebar-nav .links li a img {
    vertical-align: middle;
}

/* PLAYLIST */

#nav-btm {
    height: calc(100% - 110px);
    padding-top: 1rem;
}

#nav-btm .new-playlist {
    height: 70px;
}

#nav-btm .add-playlist {
    margin-top: 1rem;
    display: inline-block;
}

#nav-btm .add-playlist .add-btn {
    font-size: 2rem;
    vertical-align: middle;
}

#nav-btm .playlists {
    height: calc(100% - 70px);
    overflow: scroll;
}

#nav-btm .playlists .playlist {
    padding: 0.3rem 0;
}

/* PROFILE */

#btm-sidebar {
    height: 50px;
    /* background-color: #000; */
}

#btm-sidebar .profile {
    margin-top: 5px;
}

#btm-sidebar img {
    margin-right:5px;
}

#btm-sidebar .download img {
    width: 20px;
}

#btm-sidebar .profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#btm-sidebar .profile .title {
    font-size: 20px;
}


/* MAIN-RIGHT */

.container {
    width: calc(100% - 230px);
    height: 100%;
    background-color: #141922; 
    overflow-y: scroll;
    padding: 0 20px;
}

/* CALL TO ACTION */

#call-to-action {
    background-color: #0A0B13;
    opacity: 0.8;
    padding: 25px 5px;
    text-align: right;
    max-height: 90px;
    position: fixed;
    top: 0;
    left: 230px;
    width: calc(100% - 230px);
    z-index: 7777;
}

/* MAIN NAV */

#main-nav {
    margin-top: 110px;
}

#main-nav .nav-list {
    justify-content: center;
    flex-wrap: wrap;
}

#main-nav .nav-list li {
    margin: 0.5rem 1rem;
}

/* RECENTLY PLAYED / FOR YOU / POPULAR ARTISTS */

.cards {
    margin-top: 2rem;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.cards .card {
    margin-right: 10px;
    width: calc(100% / 6 - 10px);

}

.cards .card .card-img {
    position: relative;
}

.cards .card .card-img img {
    width: 100%;
    display: block;
}

.cards .card .card-img .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.cards .card .card-img:hover .overlay {
    display: block;
}

.cards .card .card-img .overlay a {
    color: var(--white-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cards .card .card-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

.cards .card .card-text .title {
    margin-bottom: 0.5rem;
}

.cards .card .card-text .subtitle {
    font-size: 0.8rem;
    margin-top: 1rem;
}

/* POPULAR ARTISTS */

#popular-artists .cards .card .card-img img, 
#popular-artists .cards .card .card-img .overlay {
    border-radius: 50%;
}


/* FOOTER */

.site-footer {
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
    position: relative;
    z-index: 7777;
}

.site-footer .column-left {
    max-width: 230px;
}

.site-footer .column-left .card {
    align-items: center;
    width: 80%;
    padding: 5px;
}

.site-footer .column-left .card .img {
    width: 50%;
}

.site-footer .column-left .card .img img {
    width: 100%;
}

.site-footer .column-left .card .info {
    width: 50%;
    font-size: 0.6rem;
    padding: 5px;
}

.site-footer .column-left .favorites {
    align-self: center;
    width: 20%;
    text-align: center;
}

.site-footer .column-center {
    width: 40%;
    padding: 5px;
}

.site-footer .column-center .play-btns {
    height: 50%;
    justify-content: center;
    align-items: center;
}

.site-footer .column-center li, 
.site-footer .column-right i {
    padding: 0 8px; 
    color: var(--white-color);   
}

.site-footer .column-center .time-bar {
    height: 50%;
    justify-content: center;
    align-items: center;
}

.site-footer .column-center .time-bar .first-bar {
    width: 70%;
}

.site-footer .column-center .time-bar .first-bar, 
.site-footer .column-right .first-bar {
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 5px;
}

.site-footer .column-center .time-bar::before {
    content: '0:25';
    margin: 0 15px;
    font-size: 0.8rem;
    color: var(--white-color);
}

.site-footer .column-center .time-bar::after {
    content: '4:16';
    margin: 0 15px;
    font-size: 0.8rem;
    color: var(--white-color);
}

.site-footer .column-center .time-bar .second-bar {
    width: 40%;
}

.site-footer .column-center .time-bar .second-bar, 
.site-footer .column-right .second-bar {
    height: 5px;
    border-radius: 5px;
    background-color: #C1C1C1;
}

.site-footer .column-right {
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.site-footer .column-right .first-bar {
    width: 110px;
}

.site-footer .column-right .second-bar {
    width: 50px;
}

/* media query */

@media screen and (max-width: 992px) {
    
    .cards .card {
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (max-width: 768px) {

    .site-footer .column-left .favorites {
        display: flex;
        flex-direction: column;
    }

    .cards .card {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 576px) {
    
    .container {
        width: calc(100% - 50px);
    }

    #call-to-action {
        width: calc(100% - 50px);
        left: 50px;
    }

    .sidebar {
        width: 50px;
        padding: 0.5rem;
    }

    .sidebar .logo-container {
        text-align: center;
        padding-top: 0;
        margin-bottom: 0;
    }

    #logo {
        display: none;
    }

    #logo-small {
        display: inline-block;
    }

    .sidebar .sidebar-nav .links li {
        text-align: center;
    }

    .sidebar .sidebar-nav .links .link-icon {
        display: none;
    }

    #nav-btm {
        display: none;
    }

    #btm-sidebar .subtitle, 
    #btm-sidebar .title,
    #btm-sidebar hr {
        display: none;
    }
}